@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
}

@layer utilities {
  .pixel-border-stone {
    box-shadow: 
        inset 2px 2px 0 0 #8a8a8a,
        inset -2px -2px 0 0 #3a3a3a;
  }
  .pixel-border-wood {
    box-shadow: 
        inset 2px 2px 0 0 #c29947,
        inset -2px -2px 0 0 #483200;
  }
  .parchment-texture {
    background-image: radial-gradient(#fcf3d8 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
